* {
  padding: 0;
  margin: 0;
}
.input-field {
  /* width: 100%; */
  padding-left: 0.5rem;
  height: 1.7rem;
  width: 92%;
  /* padding-inline-start: 0.75rem; */
  border-radius: 0.125rem;
  outline: 0.5px solid white;
  font-size: 1rem;
  border-width: 1px;
  font-size: 14px;
  background-color: black;
  color: white;
  margin-bottom: 0.8rem;
}
.input-field:focus {
  outline: 1px solid #90cdf4;
}
.auth-Form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.google-logo {
  width: 1.25rem;
  border-style: none;
}
.login-button {
  font-size: 14px !important;
  width: 100% !important;
  color: #1a202c !important;
  background-color: #90cdf4 !important;
  padding-inline-start: 0.75rem !important;
  padding-inline-end: 0.75rem !important;
  border-radius: 0.375rem !important;
  /* display: inline-flex; */
  text-align: center !important;
  height: 1.8rem !important;
  cursor: pointer !important;
  text-transform: none !important;
}
.auth-screen {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  max-width: 60%;
}
.auth-body {
  display: flex;
  justify-content: center;
  background-color: black;
}
.login-box {
  border: 2px solid rgba(255, 255, 255, 0.16);

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;
}
.insta-logo {
  height: 6rem;
  cursor: pointer;
}
.horizontal-line {
  display: flex;
  padding-top: 2rem;
  align-items: center;
  padding-bottom: 2rem;
}
.text {
  color: white;
}
.left-line {
  height: 1px;
  color: white;
  background: white;
  width: 100px;
}
.right-line {
  height: 1px;
  color: white;
  background: white;
  width: 100px;
}

.google-auth {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.blue-text {
  color: #3182ce;
  padding: 0rem 0.4rem;
}
.google-logo-img {
  width: 1.5rem;
}
.login-footer {
  border: 1px solid gray;
  border-radius: 4px;
  padding: 5px;
  margin: 1rem 0rem;
}
.flex-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0rem;
}
.auth-footer {
}
.flex-items {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  justify-content: center;
}
.toggle-visiblity {
  position: relative;

  left: 85%;
  bottom: 2.5rem;
}

.side-nav-icon {
  display: flex;
  color: white;
  align-items: center;
  gap: 1.5rem;
  padding: 0.5rem 1rem 0.5rem 0rem;
  margin-top: 1rem;
  margin-bottom: 0.8rem;
  width: 10rem;
}
.side-nav-icon:hover {
  cursor: pointer;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.24);
}
.home-screen-layout {
  display: flex;
  background-color: black;
  height: 100vh;
  justify-content: space-between;
}
.sidenav-layout {
  padding: 1rem;
  border-right: 1px solid white;
}
.instgram-logo {
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}
.logout-logo {
  color: white;
  display: flex;
  align-items: center;
  margin-top: 5rem;
  gap: 1rem;
  cursor: pointer;
  padding: 0.5rem;
}

.logout-logo:hover {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.24);
}

.flex-align {
  display: flex;
  color: white;
  justify-content: space-between;
  /* padding-top: 1rem; */
  padding-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 520;
}
.post-image {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.post-button-section {
  display: flex;
  justify-content: flex-end;
}
.post-btn {
  color: white;
  background: rgba(255, 255, 255, 0.24);
  /* background-color: red; */
  border: none;
  padding: 2% 3.5%;
  cursor: pointer;
  border-radius: 5px;
}
#fileInput {
  display: none;
}
.MuiTextarea-textarea {
  color: white;
  font-size: 0.9rem;
}
.custom-model {
  position: fixed !important;
  /* top: 130px !important; */
}
.post-duration {
  color: #718096;
}
.userName {
  color: white;
}
.unfollow-btn {
  color: #3182ce;
  height: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  background: none;
  border: none;
  cursor: pointer;
}
.unfollow-btn:hover {
  color: white;
}
.flex33 {
  display: flex;
  align-items: center;
}
.header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 23px;
}

#Post {
  color: white;
}
.btn-Post {
  cursor: pointer;
  background: none;
  color: #3182ce;
  border: none;
}
.btn-Post:hover {
  color: white;
}
.icon-columns {
  display: flex;
  align-items: center;

  gap: 1.3rem;
}
.footer-icons {
  cursor: pointer !important;
}
.flex {
  display: flex;
}
.MuiSkeleton-root {
  background: white !important;
  cursor: pointer;
}
.MuiSkeleton-text {
  height: 6px !important;
  margin-bottom: 6px !important;
  background: white !important;
  border-radius: none !important;
  /* border-radius: 0px !important; */
  cursor: pointer;
}
.top-marker {
  width: 8vw !important;
}

.bottom-marker {
  width: 4vw !important;
}

.skelton-body {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin: 1rem 1rem 1rem 0rem;
}

.comment-body-container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin: 1rem 1rem 1rem 0rem;
}
.comment-body {
}
.comment-slice {
  color: white;
  gap: 1rem;
}
.comment-duration {
  color: gray;
  font-size: 12px;
  padding: 0.2rem 0rem 0.2rem 0rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.username {
  font-size: 14px;
}

.posted-comment {
  overflow-wrap: break-word;
  font-size: 14px;
}


.MuiTextarea-root{
  background-color: black !important;
   color: white !important;
   height: 1rem !important;
   border: 0.5px solid gray !important;
}

#comment-footer{
  display: flex;
  justify-content: flex-end;
  padding: 1rem 0rem;
}

.post-comment{
  color: white;
  background-color: gray;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;

}